<div class="container" style="position:relative;">
    
<div class="user_profile">
    <div class="content">
        <div class="pagination_box">
            <a href="/user/home">Home</a>
            <i class="fa fa-caret-right"></i>
            <a href="https://www.fameuz.com/profile/engr-laravel">My profile</a>
            <i class="fa fa-caret-right"></i>
            <a title="Back" href="javascript:history.back()" class="backBtnNew">Go Back</a>
            <i class="fa fa-caret-right"></i>
            <a href="javascript:;" class="active">Edit Profile</a>
            
<div class="notification">

    <div class="mesage">
        <a href="#" id="message_notification">
            <div id="message_notofication_head">
                            </div>
            <i class="fa_message"></i>
        </a>
    </div>

    <div class="noti_icon" style="display:inline-block">
        <a href="/user/notifications" id="notificationLink">
            <div class="notification_head"></div>
            <span class="fa_bell"></span>
        </a>
    </div>
    <div id="notificationContainer" class="autoclose">
        <div class="arrow_notification">
            <img alt="status_option_arrow" src="./images/status_option_arrow.png"></div>
        <div id="notificationTitle">Notifications</div>
        <div id="notificationsBody" class="notifications">
            <!--Notification results here-->
        </div>
        <div id="notificationFooter">
            <a href="/user/notifications">See All</a></div>
    </div>
</div>        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                
<div class="profile_box">
        <a href="https://www.fameuz.com/profile/engr-laravel" class="profile_pic"><img src="https://res.cloudinary.com/fameuz/c_crop,g_auto,h_521,w_384,x_48,y_33/c_lfill,w_260/d_uploads:placeholder.jpg,q_auto/v1/uploads/albums/2016/09/07/222/kmgd4gbajzmcyde0oybu.jpg" alt="profile_pic"></a><a href="/user/edit-profile?active=profile_photo"><span class="edit_my_profile"><i class="fa fa-camera"></i></span></a>
    <div class="profile_tabs">
        <h1>shafiq</h1>
        <p class="proffesion username"> Acting</p>
        <div class="status_box">
                        <a href="#" class="status_online current_status" id="change_status">Online                <i class="fa fa-sort-desc"></i></a>
            <div class="status_option" id="status_option">
                <div class="status_option_arrow"></div>
                <a href="#" class="status_online check_Status status_hide" data-value="1">Online</a>
                <a href="#" class="status_busy check_Status " data-value="2">Busy</a>
                <a href="#" class="status_invisible check_Status " data-value="0">Invisible</a>
            </div>
        </div>
    </div>
    <ul class="profile_tabs">
            <li>
                <a href="/user/edit-profile"> <i class="fa fa-edit icons"></i> Edit My Profile
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>
            <li>
                <a href="/user/my-profile"> <i class="fa fa-search icons"></i> View My Profile
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>
            <li>
                <a href="/user/reviews">
                    <i class="fa fa-comment icons"></i> Reviews<!--<sup>New</sup>-->
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>

            <li>
                <a href="/user/my-jobs"> <i class="fa fa-briefcase icons"></i> My Jobs
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>

            <li>
                <a href="https://www.fameuz.com/user/subscriptions"> <i class="fa fa-envelope icons"></i> My Subscriptions
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>

            <li>
                <a href="https://www.fameuz.com/user/calendar"> <i class="fa fa-calendar icons"></i> My Calendar
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>

            
            <li>
                <a href="/user/photos"> <i class="fa fa-youtube-play icons"></i> My Gallery
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>


            

            
                <li>
                    <a href="javascript:;" data-toggle="modal" data-target="#videoIntroduction" class="callDisplayIntoduction">
                        <i class="fa fa-file-video-o icons"></i> Video Introduction
                        <i class="fa fa-play arrow_list"></i> </a>
                </li>

            
            <li>
                <a href="/user/following"> <i class="fa fa-cog icons"></i> Manage Friends
                    <i class="fa fa-play arrow_list"></i> </a>
            </li>

        </ul>
</div>


<div class="ipad_menu">
    <div class="inner_top_border">
        <div class="user_profile">
            <div class="content">
                <div class="profile_box ipad_menu">
                    <div class="profile_pic">
                        <a href="https://www.fameuz.com/profile/engr-laravel">
                            <img src="https://res.cloudinary.com/fameuz/c_crop,g_auto,h_521,w_384,x_48,y_33/c_lfill,w_200/d_uploads:placeholder.jpg,q_auto/v1/uploads/albums/2016/09/07/222/kmgd4gbajzmcyde0oybu.jpg" id="profile_pic">
                        </a>
                    </div>
                    <div class="profile_tabs">
                        <h1>shafiq</h1>
                        <p class="username">@engr-laravel</p>
                        <div class="status_box">
                                                        <a href="#" class="status_online current_status" id="change_status">Online                                <i class="fa fa-sort-desc"></i></a>
                            <div class="status_option autoclose" id="status_option">
                                <div class="status_option_arrow"></div>
                                <a href="#" class="status_online check_Status status_hide" data-value="1">Online</a>
                                <a href="#" class="status_busy check_Status " data-value="2">Busy</a>
                                <a href="#" class="status_invisible check_Status " data-value="0">Invisible</a>
                            </div>
                        </div>
                    </div>
                    <div class="profile_tabs">
                        <ul>
                            <li>
                                <a href="/user/edit-profile">
                                    <i class="fa fa-edit icons"></i> Edit My Profile
                                    <i class="fa fa-play arrow_list"></i> </a>
                            </li>
                            <li>
                                <a href="/user/my-profile">
                                    <i class="fa fa-search icons"></i> View My Profile
                                    <i class="fa fa-play arrow_list"></i> </a>
                            </li>

                            <li>
                                <a href="/user/reviews">
                                    <i class="fa fa-comment icons"></i> Reviews<sup>New</sup>
                                    <i class="fa fa-play arrow_list"></i> </a>
                            </li>

                            <li>
                                <a href="#"> <i class="fa fa-envelope icons"></i> My Messages<sup>30</sup>
                                    <i class="fa fa-play arrow_list"></i> </a>
                            </li>


                                                            <li>
                                    <a href="/user/my-booking"><i class="fa fa-thumb-tack icons"></i> My Bookings<i class="fa fa-play arrow_list"></i></a>
                                </li>
                            
                        </ul>
                    </div>
                    <div class="profile_tabs">
                        <h2>My Gallery</h2>
                        <ul>
                            <li>
                                <a href="https://www.fameuz.com/user/photos"> <i class="fa fa-youtube-play icons"></i> Album
                                    <i class="fa fa-play arrow_list"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-th-large icons"></i> Composite Card </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoIntroduction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog videoIntroModal" role="document">
        <div class="modal-content">
            <div class="modal-header vidIntroHead">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">shafiq</h4>
            </div>
            <div class="modalDisplayIntoduction"></div>
        </div>
    </div>
</div>

<script>
    $('.status_box').on("click", '.check_Status', function (e) {
        e.preventDefault();
        $.post('https://www.fameuz.com/ajax/chat/change-status', {dataVal: this.dataset.value}, function (data1) {
            $(".status_box").html(data1);
        });
    });
    $('.status_box').on("click", '#change_status', function (e) {
        $('#status_option').fadeToggle();
        return false;
    });
    $(".callDisplayIntoduction").on("click", function () {
        $(".modalDisplayIntoduction").load('/ajax/video-introduction');
    });
</script>
            </div>
            <div class="col-xs-12 col-sm-9">
                
<div class="tab_white_search section_search">
    <ul id="tabs">
        <li class=" hactive " data-url="ajax/edit_personal_details.php">
            <a href="#">Personal</a> <span class="point-it"></span>
        </li>
        <li class="" data-url="ajax/edit_public_details.php">
            <a href="#">Public</a> <span class="point-it"></span>
        </li>
        <li class="" data-url="ajax/edit_profile_photo.php">
            <a href="#">Profile Photo</a> <span class="point-it"></span>
        </li>
        <li class="" data-url="ajax/edit_social_media.php">
            <a href="#">Social media</a> <span class="point-it"></span>
        </li>
        <li class="" data-url="ajax/edit_settings.php">
            <a href="#">Settings</a> <span class="point-it"></span>
        </li>
    </ul>
</div>

<div class="profile_content edit_profile">
    <div role="alert" class="alert alertClose alert-success alert-dismissible" style="display: none;"><button aria-label="Close" data-dismiss="alertClose" class="close" type="button"><span aria-hidden="true">×</span></button> Changes has been updated</div><script>$( ".alertClose" ).delay( 4000 ).slideUp( 400 );</script>    <div class="tab_content" id="tab_content"><link type="text/css" rel="stylesheet" href="/js/jquery.confirm/jquery.confirm.1472539249.css">
<script src="/js/jquery.confirm/jquery.confirm.1472539249.js" type="text/javascript"></script>
<form id="personal_form" enctype="multipart/form-data" method="post" action="/access/edit_profile.php" novalidate="novalidate">
    <input type="hidden" value="edit_personal_details" name="action">

    <p class="pic_dis">*Your personal details</p>
    
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group edit-field">
                <label>First Name</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <input type="text" id="per_f_name" name="per_f_name" value="Muhammad">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group edit-field">
                <label>Last Name</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <input type="text" id="per_l_name" name="per_l_name" value="Shafiq">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group edit-field">
                <label>Phone Number</label>
                <div class="input-group move-him">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" id="per_phone" name="per_phone" value="">
<span class="input-group-addon edited-privacy"><i class="fa fa-cog"></i>
<span class="drop_down">
<span class="arrow"><img src="/images/status_option_arrow.png" alt="status_option_arrow"></span>
<span class="chkbox"><input type="checkbox" value="1" name="per_phone_privacy1">Public</span>
<span class="chkbox"><input type="checkbox" value="1" name="per_phone_privacy2">Friends</span>
<span class="chkbox"><input type="checkbox" value="1" name="per_phone_privacy3">Professionals</span>
<span class="chkbox"><input type="checkbox" value="1" name="per_phone_privacy4">Only for me</span>
</span>
</span>
                </div>
                <p class="click">* Click on the icon to change privacy</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group edit-field">
                <label>Alternative Phone Number</label>
                <div class="input-group move-him">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" id="per_alt_phone" name="per_alt_phone" value="">
<span class="input-group-addon edited-privacy"><i class="fa fa-cog"></i>
<span class="drop_down">
<span class="arrow"><img src="/images/status_option_arrow.png" alt="status_option_arrow"></span>
<span class="chkbox"><input type="checkbox" value="1" name="per_alt_phone_privacy1">Public</span>
<span class="chkbox"><input type="checkbox" value="1" name="per_alt_phone_privacy2">Friends</span>
<span class="chkbox"><input type="checkbox" value="1" name="per_alt_phone_privacy3">Professionals</span>
<span class="chkbox"><input type="checkbox" value="1" name="per_alt_phone_privacy4">Only for me</span>
</span>
</span>
                </div>
                <p class="click">* Click on the icon to change privacy</p>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-6 col-md-5 form-group-sp">
            <label>Email</label>
            <div class="form-adon-sp">
                <span class="input-addon-sp-inside"><i class="fa fa-envelope"></i></span>
                <div class="input-field">engr.laravel@gmail.com</div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 form-group edit-field">
            <label>Alternative Email</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" id="per_alt_email" name="per_alt_email" value="">
            </div>
        </div>
    </div>
    <h2 class="bg_heading">Change Password</h2>
    <div class="row">
        <div class="col-sm-6 col-md-5 form-group edit-field">
            <label>Change Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" autocomplete="off" id="per_password" name="per_password">
            </div>
        </div>
        <div class="col-sm-6 col-md-5 form-group edit-field">
            <label>Retype Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" autocomplete="off" id="per_con_password" name="per_con_password">
            </div>
        </div>
    </div>

    <h2 class="bg_heading">Manage Account</h2>
    <div class="field_box_section row">
            <div class="col-sm-6">
                <a class="account_delete" href="javascript:;"><i class="fa fa-trash"></i> Deactivate Account</a>
            </div>
            <div class="col-sm-6">
                <a class="account_freeze" href="javascript:;"><i class="fa fa-trash-o"></i> Freeze my account</a>
            </div>
        <div class="col-sm-6"><input type="submit" value="Save Changes"></div>
    </div>
</form>
<script type="text/javascript" language="javascript">
    $("#personal_form").validate({
        rules: {
            per_password: {minlength: 6},
            per_con_password: {equalTo: "#per_password"}
        },
        messages: {
            per_password: 'Password length must be at least 6 characters.',
            per_con_password: 'Entered passwords do not match.'
        },
        errorPlacement: function (error, element) {
            //
        },
        invalidHandler: function (event, validator) {
            for (var i = 0; i &lt; validator.errorList.length; i++) {
                toastr.error(validator.errorList[i].message);
            }
        }
    });
    $('.edited-privacy').on("click", function (e) {
        $(this).find('.drop_down').slideToggle();
    });

    $(".account_delete").on("click", function () {
        var account_id = '222';
        var that = this;
        var elem = $(this).closest('.item');
        $.confirm({
            'title': 'Permanently Delete Account',
            'message': 'your account has been deactivated from the site.',
            'buttons': {
                'Yes': {
                    'class': 'blue',
                    'action': function () {
                        elem.slideUp();
                        if (account_id) {
                            $.get('/access/delete_my_account.php', {'account_id': account_id}, function (data) {
                                window.location.href = '/';
                            });
                        }
                        ;
                    }
                },
                'No': {
                    'class': 'gray',
                    'action': function () {
                    }   // Nothing to do in this case. You can as well omit the action property.
                }
            }
        });
    });
    $(".account_freeze").on("click", function () {
        var account_id = '222';
        var that = this;
        var elem = $(this).closest('.item');
        $.confirm({
            'title': 'Freeze My Account',
            'message': 'your account has been frozen from the site.',
            'buttons': {
                'Yes': {
                    'class': 'blue',
                    'action': function () {
                        elem.slideUp();
                        if (account_id) {
                            $.get('/access/freeze_my_account.php', {'account_id': account_id}, function (data) {
                                window.location.href = '/';
                            });
                        }
                        ;
                    }
                },
                'No': {
                    'class': 'gray',
                    'action': function () {
                    }   // Nothing to do in this case. You can as well omit the action property.
                }
            }
        });
    });
</script></div>
</div>

<script type="text/javascript">
    $(function (e) {
        var $cnt = $("#tab_content");
        var tabs = $("#tabs > li");
        tabs.on("click", function () {
            $cnt.load('/' + this.dataset.url);
            tabs.removeClass("hactive");
            this.classList.add("hactive");
        });

        $("#tabs > li.hactive").click();

        $('#change_status').click(function (e) {
            $('#status_option').fadeToggle();
            return false;
        });
        $('#option_btn').click(function (e) {
            $('#option_box').fadeToggle();
            return false;
        });
        $('#working').click(function (e) {
            $('.upload_section').slideDown();
            return false;
        });
        $('#edit_btn').click(function (e) {
            $('#tabs .tab').slideToggle();
            return false;
        });
    });
</script>            </div>
        </div>
    </div>

</div></div>

