.pagination a {
  border: 1px solid #ddd;
  float: left;
  list-style: outside none none;
  margin: 0 1px;
  padding: 5px 10px;
  color: #515051
}

.pagination >.current {
  color: #fff;
  background: #A7A6A6;
  text-decoration: none
}

.pagination a:hover,
.pagination >a >.current {
  border-color: #65cea7
}

.pagination a:hover,
.pagination a:hover {
  color: #C7C7C7;
  background: #fff;
  border-color: #DDD
}

.paginationDiv {
  float: right
}

.pagination {
  margin: 0!important
}
