 @charset "UTF-8";
 /* CSS Document */
 
 .top_section {
   background: #ededed;
 }
 
 .polarids {
   width: 100%;
   height: auto;
   padding: 15px;
   background: #fff;
   margin-top: 18px;
 }
 
 .polarid-items {
   width: 100%;
   height: auto;
   padding: 10px 10px 40px 10px;
   background: #ECECEC;
   border-bottom: 1px solid #bebebe;
   width: 200px;
   margin: 2px 3px;
 }
 
 .polaroidHead {
   font-size: 16px;
   font-weight: 500;
 }
 
 .polaroidHead a {
   color: #4e4f53;
   font-weight: 400;
 }
